/* 
css is case sensative
*/

/* single line comment */

/* 
Multi-line comment
It's a Multi-line comment
*/

h6{
    background-color: aqua;
    font-size: 30px;
}
p{
    background-color: aqua;
}

.demo{
background-color: aqua;
}