.container{
    display: grid;
    /* 1fr = 225px */
    /* grid-template-column */
    grid-template-columns: 2fr 6fr 4fr 3fr;
    background-color: silver;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(2,6fr);
}
.item1{
    background-color: red;
}
.item2{
    background-color: green;
}
.item3{
    background-color: blue;
}
.item4{
    background-color: yellow;
}