body {
  margin: 0;
  padding: 0;
}
/* Navbar */
.logo {
  color: white;
  padding: 0 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 5px 10px 5px 10px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.nav-items li a {
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.nav-items li a:hover {
  background-color: beige;
  color: black;
  transition: 0.4s ease-in-out;
}
/* Navbar */

/* Main Container */
.main-container {
  /* 1vh=225px */
  height: 180vh;
  background-image: url(https://cdn.pixabay.com/photo/2023/10/21/22/00/window-8332729_640.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-attachment: fixed;
  background-color: black;
}

/* Section 1 */
.sect1 {
  height: 300px;
  padding: 50px;
  margin: 0 0 400px 0;
  background-color: silver;
  color: darkslategray;
}
.sect1-text-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sect1-text-content p {
  font-size: 20px;
}
.sect1 h3 {
  margin: 0;
  padding: 0px;
  font-size: 50px;
  text-shadow: 3px 3px 3px black;
}
.sect1 h4 {
  margin: 13px 0 0 0;
  padding: 0px;
  font-size: 30px;
}

.sect1 button {
  padding: 20px;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: lightblue;
  font-weight: 600;
  font-size: 15px;
}

.sect1 button:hover {
  color: white;
  background-color: darkolivegreen;
}
/* Section 1 */

/* Section 2 */
.sect2 {
  background-color: rgb(151, 133, 133);
  text-align: center;
}
.sect2-text-content {
  height: 100%;
  padding: 0 80px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect2 p {
  font-size: 26px;
  color: white;
}

/* Main Container*/

/* Footer */
.fnav {
  background-color: silver;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.fnav div ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* Footer */
